/*
Làm bài tập tại đây!

Gợi ý, đây là một số cách kết hợp ID, CSS, Tag name để select:
    - tagName.class
    - tagName#id
    - #id.class
    - .class#id
*/
h1#heading.title-group{
    color: #333;
}
h1{
    color: #333 !important;
}